.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body {
  font-family: 'Roboto Condensed';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 41.3125rem;
  padding-inline: 5.25rem;
  padding-block: 4.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(196, 196, 196, 1);
}

.search-form {
  position: relative;
  width: 25rem;

}

.input {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  border: none;
  font-weight: 400;
  font-size: 3rem;
  line-height: 100%;
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: none;
  overflow-y: auto;
  z-index: 1000;
}

.autocomplete-item {
  border: 0.125rem solid rgba(0, 0, 0, 1);
  background-color: rgba(227, 227, 227, 1);
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 100%;
}

.autocomplete-item:hover {
  background-color: rgba(101, 205, 249, 1);
}

.repositories-list {
  width: 25rem;
  margin-top: 17rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.repo-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border: 0.0625rem solid rgba(0, 0, 0, 1);
  background-color: rgba(226, 123, 235, 1);
}

.repo-info {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 100%;
}

.delete-btn {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
}

.delete-btn::after {
  position: absolute;
  content: '';
  top: -1.4375rem;
  left: -2.5625rem;
  width: 0.125rem;
  height: 3.125rem;
  rotate: 45deg;
  background-color: rgba(255, 0, 0, 1);
}

.delete-btn::before {
  position: absolute;
  content: '';
  top: -1.4375rem;
  left: -2.625rem;
  width: 0.125rem;
  height: 3.125rem;
  rotate: -45deg;
  background-color: rgba(255, 0, 0, 1);
}